body {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
  }
  .container-fluid{
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #FFF;
  }
  /* ============= Animation background ========= */
  .background {
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding:0;
    margin:0px;
  }
  .cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
  }
  .cube:nth-child(2n) {
    border-color: #FFF ;
  }
  .cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
  }
  .cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
  }
  .cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
  }
  .cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
  }
  .cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
  }
  /* ================= Header ============ */
  header{
    position: absolute;
    top:10%;
    left: 0%;
    width:100%;
    margin: 0;
    padding: 0;
  }
  /* navbar */
  #Logo{
      float: left;
      color: #FFF;
      padding: 15px;
  }
  nav{
    color: #FFF;
    float: right;
    margin:30px 90px;
  }
  nav ul{
    list-style: none;
  }
  nav ul li {
    float: left;
    transition: .3s;
  }
  nav ul li a{
    text-decoration: none;
    color: #EFEEF5;
    transition: .5;
    font-size: 15px;
    margin-left:16px;
  }
  nav ul li:hover a{
    text-decoration: none;
    color: #e6042a;
    font-size: 20px;
    font-weight: bold;
  }
 
  /* Logo */
  .logo{
    width: 35px;
    height: 35px;
    background: #EFEEF5;
    margin: 40px 63px;
    float: left;
    transform: rotate(-30deg);
  }
  .logo span{
    color: #591BC5;
    font-size: 2em;
    line-height: 1.4;
    padding-left: 5px;
    font-weight: bold;
  }
  /*mobile navigation
  
  /* Header content & title & button*/
  .header-content{
    margin-top:25%;
    text-align: center;
    color:  #EFEEF5;
  }
  .header-content h1{
    
    font-size: 3em;
    letter-spacing: 1px;
  }
  .header-content p {
    font-size: 20px;
    line-height: 1.5;
    margin: 20px auto;
  }
  .header-content button{
    width: 140px;
    margin:20px 10px;
    color: #591BC5;
    font-size: 17px;
    border:1px solid #EFEEF5;
    font-weight: 500;
    background: #EFEEF5;
    border-radius: 20px;
    padding: 10px;
    cursor:pointer;
    transition: .3s;
    
    
  }
  .header-content button:hover{
    border-radius: 0;
  }
  /* Animate Background*/
  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }
#desktop
{
    display: none;
}
/* Navigation bar styling */
.menu-list {
  top:0%;
  left: 0%;
  width:100%;
  margin: 0;
  padding: 0;
  color: white;
  background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
  opacity: 1;
  font-family: 'Playfair Display', serif;
  z-index: 9;
}

/* logo, navigation menu styling */
#mobLogo{
  padding-left: 5px;
}
.apex {
  overflow: hidden;
  background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
  position: relative;
  padding-top: 0px;
  margin-top: 0px;
  backface-visibility: hidden;
}

/* stylinf navigation menu */
.apex #menus {
  display: none;
  
}

/* link specifi styling */
.apex a {
  text-decoration: none;
  color: white;
  padding: 14px 16px;
  font-size: 24px;
  display: block;
  position: relative;
  
}

/* navigation toggle menu styling */
.apex a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
/* hover effect on navigation logo and menu */

/* For mobile phones: */
[class*="menu-list"] {
width: 100%;
}
h1{
margin-left: 10px;
padding-left: 15px;
font-family: 'Playfair Display', serif;
}
.background {
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 0vh;
    width: 100%;
    overflow: hidden;
    padding:0;
    margin:0px;
  }
#login .container #login-row #login-column #login-box {
  margin-top: 80px;
  max-width: 600px;
  margin-left:0px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

@media only screen and (min-width: 600px) {
/* For tablets: */ 
#mob{
    display: none;
}
header{
    position: absolute;
    top:0%;
    left: 0%;
    width:100%;
    margin: 0;
    padding: 0;
  }
#desktop{
    display:block;
}
/* For tablets: */ 
#login .container #login-row #login-column #login-box {

  margin-left: 200px;
 
}
.background {
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 13vh;
    width: 100%;
    overflow: hidden;
    padding:0;
    margin:0px;
  }
}
@media only screen and (min-width: 768px) {
/* For desktop: */
#mob{
    display: none;
}
header{
    position: absolute;
    top:0%;
    left: 0%;
    width:100%;
    margin: 0;
    padding: 0;
  }
  #desktop{
    display:block;
}
/* For desktop: */
#login .container #login-row #login-column #login-box {

  margin-left: 270px;

}
.background {
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 15vh;
    width: 100%;
    overflow: hidden;
    padding:0;
    margin:0px;
  }

}